body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 58px;
    margin-bottom: 16px;
}

header .menu-bar {
    margin-left: -6px;
}

header a {
    color: #888888;
    margin-right: 12px;
    padding: 6px;
    text-decoration: none;
}

header a:hover {
    background: #ddd;
}

header a.active {
    border-bottom: 4px solid #aaa;
}

p a.github-link, a.mail-link {
    text-decoration: none;
    font-style: oblique;
}

a.toushif-link {
    text-decoration: none;
    color: #6161d7;
}

a.toushif-link:hover {
    text-decoration: underline;
}

p a.github-link:hover, a.mail-link:hover {
    font-weight: bold;
}

.portrait {
    width: 250px;
}

form input {
    border: 1px solid #ccc;
    padding: 8px;
}

form button {
    border: 1px solid #777;
    background:#777;
    padding: 8px;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background:#555;
}

section.weather-report {
    background: rgb(247, 247, 247);
}

p#time {
    margin-top: 2rem;
    font-style: oblique;
}