<header>
    <h1>{{title}}</h1>

    <div class="menu-bar">
        <a onclick="goTo()" class="home" href="javascript:void(0)">Weather</a>
        <a onclick="goTo('about')" class="about" href="javascript:void(0)">About</a>
        <a onclick="goTo('help')" class="help" href="javascript:void(0)">Help</a>
    </div> 
</header>