<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <script src="/js/app.js" defer></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        
        <p>Use this Web Application to find out about Real Time Weather data report of any location in the planet. It will give you details of present weather consitions such as current temperature, wind speed, wind direction, humidity, pressure, cloud cover, ultra violent index, etc.</p>
        </br>
        
        <img class="portrait" src="/img/preview.jpg" alt="Toushif photo">
    </div>

    {{>footer}}

    <script>
        var current = document.getElementsByClassName("about");
        current[0] ? current[0].className = "active" : '';
    </script>
</body>
</html>