<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <script src="/js/app.js" defer></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="help-body">For any help on this weather app check my <a class="github-link" target="_blank" title="Toushif's Github repo" href="https://github.com/Toushif/weather-web-app">Github repository</a>.</p>
        <p class="help-body">Or directly reach out to me <a class="mail-link" target="_blank" href="mailto:toushif.haq@gmail.com?cc=&subject=Help on weather web app&body=Briefly mention below what help is required..">here</a>.</p>
    </div>

    {{>footer}}

    <script>
        var current = document.getElementsByClassName("help");
        current[0] ? current[0].className = "active" : '';
    </script>
</body>
</html>